<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="yamlProperties" class="org.springframework.beans.factory.config.YamlPropertiesFactoryBean"
          p:resources="classpath:localhost.yml"/>
    <context:property-placeholder properties-ref="yamlProperties"/>

    <bean id="wordUsageInBlogsStatistician" class="com.grigoriyalexeev.statistician.core.impl.InBlogsWordUsageStatistician">
        <constructor-arg name="wordFinder" ref="wordFinder"/>
        <constructor-arg name="wordUsageStatisticsAssembler" ref="wordUsageStatisticsAssembler"/>
    </bean>
    <bean id="wordFinder" class="com.grigoriyalexeev.statistician.core.impl.YandexBlogsWordFinder">
        <constructor-arg name="yandexApiUrl" value="${yandex.api.url:}"/>
        <constructor-arg name="maxUrls" value="${yandex.max.urls:10}"/>
        <constructor-arg name="maxConnections" value="${yandex.max.connections:10}"/>
        <constructor-arg name="urlsExtractor" ref="yandexUrlsExtractor"/>
    </bean>
    <bean id="wordUsageStatisticsAssembler" class="com.grigoriyalexeev.statistician.core.impl.ByDomainsWordUsageStatisticsAssembler"/>
    <bean id="yandexUrlsExtractor" class="com.grigoriyalexeev.statistician.core.impl.YandexRssUrlsExtractor"/>
</beans>